mac/tmux/plugins
.gsd-keyboard.settings-ported
GNOME-xdg-terminals.list
Rancher Desktop/
VirtualBox/
appimagelauncher.cfg
balena-etcher-electron/
dconf/
dleyna-renderer-service.conf
eog/
evolution/
fish/
gnome-control-center/
gnome-initial-setup-done
goa-1.0/
google-chrome/
gtk-3.0/
htop/
ibus/
libvirt/
mimeapps.list
monitors.xml
monitors.xml~
nordvpn/cli.log
pulse/
rancher-desktop/
systemd/
totem/
user-dirs.dirs
user-dirs.locale
xdg-terminals.list